{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2023",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        "importSource": "react"
      }
    },
    "keepClassNames": true
  },
  "module": {
    "type": "nodenext"
  }
}
